export SLURM_SIMULATION_TOOLKIT_HOME=/home/gobbedy/projects/def-yymao/gobbedy/compute_canada_template_project
export SLURM_SIMULATION_TOOLKIT_RC=$SLURM_SIMULATION_TOOLKIT_HOME/config/simulation_toolkit.rc
export SLURM_SIMULATION_TOOLKIT_CLUSTER_CONFIG_RC=$SLURM_SIMULATION_TOOLKIT_HOME/config/default_job_params.rc
export PATH=$SLURM_SIMULATION_TOOLKIT_HOME/scripts:$PATH

source ${SLURM_SIMULATION_TOOLKIT_HOME}/scripts/get_local_cluster.sh
if [[ $local_cluster == "niagara" ]]; then
    #regress_dir=/home/y/yymao/${USER}/regress
    # on niagara, only scratch disk is writable by compute nodes
    export SLURM_SIMULATION_REGRESS_DIR=/scratch/y/yymao/${USER}/regress
elif [[ $local_cluster == "beihang" ]]; then
    #REGRESS_DIR=/home/LAB/kongfs/${USER}/regress
    export SLURM_SIMULATION_REGRESS_DIR=/home/LAB/${USER}/regress
else
    #REGRESS_DIR=/home/${USER}/projects/def-yymao/${USER}/regress
    export SLURM_SIMULATION_REGRESS_DIR=/home/${USER}/scratch/regress
fi
export SLURM_SIMULATION_BASE_SCRIPT=/home/gobbedy/projects/def-yymao/gobbedy/mixup_fun/train.py