def_account=$(sacctmgr -nP show User $USER | cut -d'|' -f2 | sed 's/_cpu//')
export SLURM_SIMULATION_TOOLKIT_HOME=/home/$USER/projects/${def_account}/$USER/slurm_simulation_toolkit
export SLURM_SIMULATION_TOOLKIT_SOURCE_ROOT_DIR=/home/$USER/projects/${def_account}/$USER

export SLURM_SIMULATION_TOOLKIT_GET_CLUSTER=${SLURM_SIMULATION_TOOLKIT_HOME}/scripts/get_local_cluster_name.sh
source ${SLURM_SIMULATION_TOOLKIT_GET_CLUSTER}
if [[ $local_cluster == "niagara" ]]; then
    def_account_short=$(echo ${def_account} | sed 's/def-//')
    export SLURM_SIMULATION_TOOLKIT_REGRESS_DIR=/scratch/y/${def_account_short}/${USER}/regress
elif [[ $local_cluster == "beihang" ]]; then
    export SLURM_SIMULATION_TOOLKIT_REGRESS_DIR=/home/LAB/${USER}/regress
else
    export SLURM_SIMULATION_TOOLKIT_REGRESS_DIR=/home/${USER}/scratch/regress
fi

export SLURM_SIMULATION_TOOLKIT_SBATCH_SCRIPT_PATH=${SLURM_SIMULATION_TOOLKIT_HOME}/scripts/simulation.sbatch
export SLURM_SIMULATION_TOOLKIT_JOB_RC_PATH=$SLURM_SIMULATION_TOOLKIT_HOME/config/default_job_params.rc
export SLURM_SIMULATION_TOOLKIT_RESULTS_PROCESSING_FUNCTIONS=${PROJECT_HOME}/scripts/results_processing_functions.sh

export PATH=$SLURM_SIMULATION_TOOLKIT_HOME/scripts:$PATH
